<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Product App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>  <!-- Ensure this is correct -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-product">Create Product</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
